footer {
background-color: #292929;
position: relative;
}
footer a {
 color: #797979;
}
footer div.wrap { 
/*   max-width: 100%; */
  padding-top: 46px;
}
footer div.wrap ul.fnb {
  justify-content: space-around;
  margin-bottom: 30px;
}
footer div.wrap ul.fnb li{
}
footer div.wrap ul.fnb li h2 {
 text-align: center;
}
footer div.wrap ul.fnb li h2 a{  
  font-size: 15px;
  color: white;
}
footer div.wrap ul.fnb li ul.sublist {
  margin-top: 20px;
  font-size: 14px;
}
footer div.wrap ul.fnb li:nth-child(1) ul.sublist{  
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto auto;
  grid-auto-flow: column;
  column-gap: 9px;
}
footer div.wrap ul.fnb li ul.sublist li a{  
  text-align: center;
  font-size: 13px;
  display: block;
  line-height: 2.5;
}
footer div.wrap ul.fnb2 {
  justify-content: center;
  font-size: 13px;
  height: 50px;
  margin-bottom: 40px;
}
footer div.wrap ul.fnb2::before {
  content: "";
  display: block;
  border-top: 1px solid #343434;
  width: 100%;
  position: absolute;
  left: 0;
}
footer div.wrap ul.fnb2 li {
  /*! width: 100%; */
  position: relative;
}
footer div.wrap ul.fnb2 li:nth-child(8) {  
  border-left: 1px solid #343434;
  border-right: 1px solid #343434;
}
footer div.wrap ul.fnb2 li:nth-child(n+2):nth-child(-n+7)::before {
  content: "";
  display: inline-block;
  height: 7px;
  border-left: 1px solid #adadad;
  position: absolute;
  left: 0;
  top: calc(50% - 7px /2);
}
footer div.wrap ul.fnb2 li a{
  display: block;
  height: 100%;
  /*! line-height: 50px; */
  /*! line-height: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
}
footer div.wrap ul.fnb2 li:nth-of-type(1) a {
 color: #0d5ffb;
}
footer div.wrap ul.fnb2 li:nth-child(8) a {  
  color: #adadad;
}
footer div.wrap ul.fnb2 li:nth-child(8) a::after{
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url(../img/expand.svg);
  background-repeat: no-repeat;
  margin-left: 10px;
  background-size: contain;
}
footer div.wrap ul.fnb2 li:nth-child(9) a {  
  color: #adadad;
}
footer div.wrap ul.fnb2 li:nth-child(9) a::after{
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url(../img/expand.svg);
  background-size: contain;
  margin-left: 10px;
}
footer div.wrap ul.fnb2::after {
  content: "";
  display: block;
  border-top: 1px solid #343434;
  width: 100%;
  position: absolute;
  left: 0;
  transform: translateY(50px);
}
footer div.wrap address { 
  font-size: 12px;
  color: #545454;
  text-align: center;
  line-height: 2;
}
footer div.wrap address a {
  
}
footer div.wrap p.copyright {  
  font-size: 12px;
  color: #545454;
  text-align: center;
}
footer div.wrap div.corp {
 
}
footer div.wrap div.corp h2 {
  
}
footer div.wrap div.corp ul {
  
}
footer div.wrap div.corp ul li {
  
}
footer div.wrap div.corp ul li a {
  
  /*! display: flex; */
  /*! flex-direction: column; */
  /*! align-items: center; */
}
footer div.wrap div.corp ul li a::before{
  content: "";
 
}
footer div.wrap div.fnb2 ul::after {
  content: "";
}
footer .btop{ 
  position: absolute;
  top: -43px;
  right: 293px;
  color: #004cad;
  font-size: 14px;
  opacity: 0;
  transition: 0.5s;
}

footer .btop::before {
  content: "";
  display: inline-block;
  height: 43px;
  vertical-align: -23px;
  border-left: 2px solid black;
  margin-right: 4px;
}
footer .btop::after{
  content: "";
  display: inline-block;
  height: 20px;
  border-left: 2px solid black;
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: 0 0;
  transform: rotate(40deg);
}
footer .btop.topFix::before{
  
}
footer .btop.topFix::after{
  
}
.topFix{
  position: fixed !important;
  bottom: 0;
  z-index: 1;
  top: auto !important;
  opacity: 1 !important;
}