div#subtitle {
}
div#subtitle .wrap {
  max-width: 100%;
  margin-bottom: 0;
}
div#subtitle button{
  
  z-index: 1;
}
div#subtitle button::before{
  font-size: 13px;
  opacity: 1;
  color: white;
  transition: 0.5s;
}
div#subtitle .titleani>button::before{
  content: "";
  width: 50px;
  height: 50px;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
}
div#subtitle .titleani>button.slick-prev::before {
  background-image: url(../img/arrow_back.svg);
}
div#subtitle .titleani>button.slick-next::before {
  background-image: url(../img/arrow_forward.svg);
}
div#subtitle .slick-active button::before{
  color: blue;
  transform: scale(1.5); /*   폰트사이즈로 키우면 밀림 */
}
div#subtitle .slick-prev{
  left: 30px;
}
div#subtitle .slick-next{ 
  right: 30px;
}
div#subtitle .wrap img {

}
div#subtitle .wrap .slick-dots{
  bottom: 25px;
}
